* {
  box-sizing: border-box;

}

body {
  background-color: #FFFFFF;
  font-family: system-ui, sans-serif;
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}

h1 {
  margin: 30px 0;
  font-size: 48px;

}
 /*  this cointener for board and helpful-things */
.game {
  /* width: 60%; */
  display: flex;
  align-items: flex-start;
  flex-direction: row;
  gap: 40px;
  /* justify-content:space-around; */
}


/* board game */
.board {
  display: flex;
  flex-wrap: wrap;
  width: 540px;
  height: 540px;
  border: 4px solid black;
  border-right: 2px solid black;
  ;
  cursor: pointer;

}

/*  Each cells*/
.sqr {
  width: 11.11%;
  /* 100 / 9 */
  aspect-ratio: 1/1;
  display: flex;
  align-items: center;
  justify-content: center;

  font-size: 26px;
  border: 1px solid #8E95A0;
}

/* Vertical lines */
.sqr:nth-child(3n) {
  border-right: 4px solid black;
}

/* horizontal lines */
.box1:nth-child(n+19),
.box2:nth-child(n+19),
.box3:nth-child(n+19),
.box4:nth-child(n+46),
.box5:nth-child(n+46),
.box6:nth-child(n+46) {
  border-bottom: 3px solid black;
}


 /*  this cointener for numbers , mistakes and time */
.helpful-things {
  display: flex;
  flex-direction: column;
  gap: 30px;
  width: 3000;

}
/*  this cointener for  mistakes and time */
.m-t {
  display: flex;
  justify-content: space-around;
  gap: 10px;
}
 /*  this cointener for numbers */
.Numbers {
  display: flex;
  /* flex-direction: column; */
  flex-wrap: wrap;
  width: 240px;
  gap: 15px;
}
/* this for each num */
.num {
  width: 70px;
  height: 70px;
  display: flex;
  justify-content: center;
  align-items: center;

  border: 2px solid #333;
  border-radius: 8px;

  font-size: 30px;
  font-weight: bold;
  cursor: pointer;




}

.num:hover{
       background-color: #45a049;
    box-shadow: 0 6px 15px rgba(0, 0, 0, 0.3);

}

#btn {
    background-color: #4CAF50;
    color: white;
    border: none;
    padding: 12px 30px;
    font-size: 18px;
    font-weight: bold;
    border-radius: 10px;
    cursor: pointer;
    transition: all 0.3s ease;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    margin-top: 12px;
}

#btn:hover {
    background-color: #45a049;
    box-shadow: 0 6px 15px rgba(0, 0, 0, 0.3);
}
button {
  background: transparent;
  border: none;
  padding: 0;
  cursor: pointer;
  font-size: 20px;
}
.stop {
  background: transparent;
  border: none;
  padding: 0;
  cursor: pointer;
  font-size: 20px;
}
#Stop{
   display: none;



}